<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMC_Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AMC_Test.Properties.Settings.Pager_DB_ConnectionString" connectionString="Data Source=10.145.10.26;Initial Catalog=Getron_MW_V2;Persist Security Info=True;User ID=ros;Password=ros@123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <AMC_Test.Properties.Settings>
            <setting name="COM" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate1_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate2_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate3_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate4_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate5_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate6_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate7_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="Gate8_Add" serializeAs="String">
                <value/>
            </setting>
            <setting name="DO01" serializeAs="String">
                <value/>
            </setting>
            <setting name="DO02" serializeAs="String">
                <value/>
            </setting>
            <setting name="DO03" serializeAs="String">
                <value/>
            </setting>
            <setting name="DO04" serializeAs="String">
                <value/>
            </setting>
            <setting name="LD_Number" serializeAs="String">
                <value/>
            </setting>
            <setting name="GRIPPER_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STOPPER_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CONVEYOR_USE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BOAT_COLOR" serializeAs="String">
                <value>red,yellow,green</value>
            </setting>
            <setting name="BOAT_SIZE" serializeAs="String">
                <value>10,20,30</value>
            </setting>
            <setting name="CMD_LOG_DIRECTORY" serializeAs="String">
                <value/>
            </setting>
            <setting name="NAME" serializeAs="String">
                <value>AMB</value>
            </setting>
            <setting name="INDIVIDUAL_FILE_NAME" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogSCRAP_DIR" serializeAs="String">
                <value/>
            </setting>
            <setting name="MobilePlanner_Path" serializeAs="String">
                <value>C:\Program Files\Omron\MobilePlanner4\bin\MobilePlanner.exe</value>
            </setting>
        </AMC_Test.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
